version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_URL: ${APP_URL}
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - mysql
      - redis
    networks: [appnet]

  ws:
    image: quay.io/soketi/soketi:1.4-16-alpine
    container_name: minmess_ws
    environment:
      SOKETI_DEBUG: "1"

      SOKETI_DEFAULT_APP_ID: ${SOKETI_APP_ID}
      SOKETI_DEFAULT_APP_KEY: ${SOKETI_APP_KEY}
      SOKETI_DEFAULT_APP_SECRET: ${SOKETI_APP_SECRET}

      SOKETI_DEFAULT_APP_MAX_CONNS: 1000
      SOKETI_DEFAULT_APP_MAX_BACKEND_EVENTS_PER_SEC: 200
      SOKETI_DEFAULT_APP_MAX_CLIENT_EVENTS_PER_SEC: 200
      SOKETI_DEFAULT_APP_MAX_READ_REQ_PER_SEC: 200

      SOKETI_PORT: 6001
    ports:
      - "6001:6001"
    networks:
      - appnet

  mysql:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks: [appnet]

  redis:
    image: redis:7-alpine
    container_name: minmess_redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks: [appnet]

  frontend:
    image: node:20
    container_name: react-frontend
    working_dir: /app
    env_file:
      - ./frontend/.env
    ports:
      - "${VITE_PORT}:5173"
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    networks: [appnet]

volumes:
  db_data:
  redis_data:

networks:
  appnet:
